.App {
  width: 1068px;
  margin: 0 auto;
  font-family: 'Syne Mono', monospace;
}

.title:hover {
  cursor: pointer;
}

.artist-cards, .album-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;
}

.artist-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  width: 250px;
  height: 350px;
  transition: all 150ms ease-in-out;
}

.artist-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.artist-image {
  width: 250px;
  height: 250px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.album-name {
  width: 300px;
}